{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  }
}